.container {
    align-content: center;
    text-align: center;
}
#instructions {
    margin: 20px 0px 100px 0px;
    align-content: center;
    text-align: center;
}
#instructions h1 {
    font-size: 200%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
#item1 {
    grid-column: 1 / 5;
}
#item3 {
    grid-column: 2 / 3;
}
#item4 {
    grid-column: 3 / 4;
}